{% extends 'base.html' %}
{% block contents %}
{% if user.is_authenticated %}
    안녕하세요. {{user.nickname}}님<br>
    <small><small>
        소속 학교 : {{user.university}}<br>
        학과 : {{user.major}} 전공
    </small></small>
{% endif %}
{% for blog in blogs.all %}
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{blog.title}}</h5>
            <p class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</p>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}